*{
    margin:0%;
    padding:0%;
}
body{
    height: 100vh;
    width: 100%;
    background-color: black;
}
.main{
    height:90vh;
    width:100%;
   
    position:relative;
    background-image: url(NBG.jpg);
    background-size: cover;
}
.box{
    height:100%;
    width:100%;
    position:absolute;
   top:0;
    opacity: 0.7;
    background-color: black;
    z-index :1;


}
.main img{
    position:relative;
    height:40px;
    width:148px;
    z-index:10;
}
